---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<html>
		<body>
			<h1>Hello, World!</h1>
		</body>
	</html>
	<style>
		h1 {
			color: orange;
		}
	</style>

	<Welcome />
</Layout>
